{% extends 'base.html' %}


{% block content %}

       
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Possimus repudiandae placeat, quia quidem provident rerum voluptas
    culpa id consectetur delectus, corrupti porro dolorem fugiat impedit laboriosam quasi sit,
    magnam voluptates.</p>

    <h2>Welcome to the online Shop!</h2>
    <p>This is the homepage of our online shop. This online shop offers
     a wide variety of products at competitive prices. This is very comfortable for customers.
    This is not compeleted all yet, but we are working on it. So thank you for your patience!</p>

{% endblock content %}